.page {
  margin: 20px;
}

.interactions {
  text-align: center;
}
.table {
  margin: 20px 0;
}
.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}
.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}
.error {
  font-size: 1rem;
  font-family: consolas, monaco, "Andale Mono", monospace;
  font-weight: 400;
  padding: 10px;
  background: #ffffff;
  color: #000;
  border-style: solid;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: #ff1a1a;
  border-left-width: 10px !important;
  border-right-width: 0 !important;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #e3e3e3;
}
.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.button-inline {
  border-width: 1px;
  border-color: #38bb6c;
  border-radius: 0px;
  background: transparent;
  color: #fff;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  font-size: inherit;
  cursor: pointer;
}
.button-inline:hover {
  color: #eb2626;
  border-color: #eb2626;
  border-radius: 5px;
}
.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38bb6c;
}
