body {
  color: rgb(255, 255, 255);
  background: #000;
  font: 400 14px CoreSans, Arial, sans-serif;
}
a {
  color: rgb(255, 255, 255);
}
a:hover {
  text-decoration: underline;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  padding: 10px;
  border-radius: 0px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

button {
  padding: 10px;
  border-radius: 0px;
  border: 1px solid #67d67f;
  background: transparent;
  color: #67d67f;
  cursor: pointer;
}
button:hover {
  color: #dddddd;
  border-color: #dddddd;
}
*:focus {
  outline: none;
}
